nav{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px, 0;

      
}
nav ul{
list-style-type: none;
width: 100%;
text-align: right;
padding: 12px 10px;
}
nav ul,li, a{
   text-transform: capitalize;
   display: inline-block; 
   padding: 10px;
   align-items: center; 
   text-decoration: black;
   
}
.contents h1{
font-size: 70px;
margin-left: 10%;
}
.contents p{
  margin-top: 15%;
}
#img{
   margin-bottom: 20px; 
   margin-left: 40px;
   margin-right: 10%;
   height: 400px; 
   width: 600px;
   float: right;
  
}  
#img2{
  height: 200px;
  width: 300px;
  margin-bottom: -5%;

  
} 
 .content h1{ 
  margin-left: 35%;
 }
.ours{
  display: flex;
  justify-content: space-between;
}
.div{
  margin: 10%;
}
#img3{
  height: 100px;
  width: 150px;
  /* float: right;
  margin-right: 12%; */
 
}
#img4{
  height:100px;
  width: 150px;
}
.flex{
  display: flex;
  align-items: center;
  margin: -5% -45% 20% 38%;
  
}
#flex2{
  height: 200px;
  width: 200px;
  float: right;
  margin-top: -10%;


}
#flex4{
  height: 300px;
  width: 200px;
  float: right;
  margin-right: -25%;
}
#flex3{
  height: 400px;
  width: 500px;
  float: right;
  margin-right: -30%;

  
}


  